"""Base Entity for {{ component_name }}."""
from __future__ import annotations

from homeassistant.helpers.entity import DeviceInfo
{% if "polling" in integration_type -%}
from homeassistant.helpers.update_coordinator import CoordinatorEntity
from .coordinator import {{ component_slug.title().replace('_', '') }}DataUpdateCoordinator

class {{ component_slug.title().replace('_', '') }}Entity(CoordinatorEntity[{{ component_slug.title().replace('_', '') }}DataUpdateCoordinator]):
{%- else -%}
from homeassistant.helpers.entity import Entity

class {{ component_slug.title().replace('_', '') }}Entity(Entity):
{%- endif %}
    """Blueprint entity class."""

    _attr_has_entity_name = True
    {% if integration_type == 'assumed_state' -%}
    _attr_assumed_state = True
    {%- endif %}

    def __init__(
        self,
        {% if "polling" in integration_type %}coordinator: {{ component_slug.title().replace('_', '') }}DataUpdateCoordinator{% endif %}
    ) -> None:
        """Initialize the entity."""
        {% if "polling" in integration_type -%}
        super().__init__(coordinator)
        {%- endif %}
        self._attr_unique_id = f"{{ component_slug }}_{ {%- if include_config_flow %}self.coordinator.config_entry.entry_id{% else %}'static'{% endif -%} }"
        self._attr_device_info = DeviceInfo(
            identifiers={( "domain", "{{ component_slug }}")},
            name="{{ component_name }}",
            manufacturer="{{ author_name }}",
        )
