{
  "domain": "{{ component_slug }}",
  "name": "{{ component_name }}",
  "version": "0.1.0",
  "documentation": "{{ vcs_uri_prefix }}{{ git_username }}/{{ repo_name }}",
  "issue_tracker": "{{ vcs_uri_prefix }}{{ git_username }}/{{ repo_name }}/issues",
  "codeowners": ["@{{ git_username }}"],
  "requirements": [],
  "dependencies": [],
  "iot_class": "{{ iot_class }}"
}
