{
  "config": {
    "step": {
      "user": {
        "title": "{{ component_name }}",
        "description": "Set up your {{ component_name }} integration",
        "data": {
          "name": "Name"
        }
      }
    },
    "error": {
      "cannot_connect": "Failed to connect",
      "invalid_auth": "Invalid authentication",
      "unknown": "Unexpected error"
    },
    "abort": {
      "already_configured": "Device is already configured"
    }
  }
}
