{
  "name": "{{ component_name }}",
  "image": "ghcr.io/home-assistant/devcontainer:stable",
  "features": {
    "ghcr.io/devcontainers/features/python:1": {
      "version": "3.12"
    }
  },
  "postCreateCommand": "uv pip install -e .[dev]"
}
